/* Use this contrast checker: https://webaim.org/resources/contrastchecker/ */

/* Code Along, Part 1 */

/* 1. Check the ratio of the background color and the color of the text.
    We want the ratio 4:1 or higher. What is it? */


/* 2. Change the background color so that it contrasts well with the text. 
    What color do you think would provide a good contrast with red? 
    (Hint: Remember lighter colors contrast best with darker colors and vice versa). */

/* 3. Recheck the ratio now. Afterwards, go to the HTML file.*/

.navbar { 
    border: 2px solid grey;
    padding: 7px;
    ;}
body {
    background-color: #ffffff;
    color: #eb4a4a;
    font-size: 105%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-inline:2%;
}
.title {
    -webkit-text-stroke: 1.5px #7d0707;
    filter: drop-shadow(-4px 4px 0px rgba(118, 37, 37, 0.5));
}


.food-pic {
    width: 250px;
    margin: 1%;
    border:maroon;
    border-width: 4px;

}

.title {
    text-align: center;
    color: #eb2626;
    background-color: #f1dede;
    border-radius: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 69px;
    font-style: italic;
}